#include <windows.h>
1 RT_MANIFEST "AutoDodge.manifest"
1 VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "SekiroVisionAI\0"
   VALUE "FileVersion", "0.4.0 development\0"
   VALUE "ProductName", "SekiroVisionAI\0"
   VALUE "OriginalFilename", "SekiroVisionAI.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
